<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<table>
{% for puppy in puppies%}
    <tr>
    <td>{{puppy.name}}</td>
        <td>
        <form method="post">
            <a href="{{url_for('delete',_id=puppy.id)}}">delete</a>
            <a href="{{url_for('update' , _id = puppy.id)}}">update</a>
        </form>
        </td>
    </tr>
    {%endfor%}
    </table>
<button><a href="{{url_for('delete_all')}}">delete all</a></button>
</body>
</html>
